<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tlhlngan hol</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="./bower_components/bootstrap-material-design/dist/css/ripple.min.css" />
<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>


</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Foo</h1>
    </div>
</div>
</body>
</html>